.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: #0d6efd !important;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    color: white;
}

 
.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: #0d6efd;
}

.btn:hover {
color: 【var(--bs-btn-hover-color);
background-color:  #0d6efd;
border-color: white;
}


.btn-outline-success {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #ffff;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}

h1{
    color: #0d6efd;
}

main{
    margin-top: 3vw;
    margin-bottom: 3vw;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
        color: white;
    }
}
